body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

article h1 {
    text-align: center;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* table */

.students-table {
text-align: left;
}

.students-table th, .students-table td {
    padding: 10px 80px 10px 5px;
}

.students-table th, .students-table td {
    border: 1px solid black;
}